$fullwidth : 100%;
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
.wrapper {
    max-width: 1920px;
    min-width: 1280px;
    width: 100%;
}
.font-size-sm {
    font-size: 15px;
}
.font-size-md {
    font-size: 17px;
}
.font-size-lg {
    font-size: 20px;
}
.font-size-xl {
    font-size: 45px;
}
header, #intro, .gnb, section {
    width: $fullwidth;
}
#intro {
    position: relative;
    height: 800px;
}
.gnb {
    position: fixed;
    top: 0px;
    background: #e9fb8f;
    z-index: 1000;
    max-width: 1920px;
    min-width: 1280px;
}
.divider-gray-dashed {
    border-right: 1px dashed #cdcdcd;
}

.copyright {
    height: 60px;
}
